@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ADVANCED CALENDAR</h1>
    <p class="lead">Advanced Calendar is an Android application for planning and scheduling your daily tasks.</p>
    <p class="lead">The application allows you to create tasks and also assign a parent task to your task. That way a tree of tasks can be created. The task can be one time task or repeating task. You can set repetition to task based on various periods of time: daily weekly etc. For convenience you can see the tasks on various representations: day view, week view, tree view. The application also allows to assign reminders to your tasks. The reminders can be set as notifications or as alarms. The reminders have flexible settings and can be snoozed after they are alarmed to be postponed and alarmed again after arbitrary period of time that you can select or set. Advanced task reminder system allows you to see all scheduled reminders quickly and efficiently. You can set repetitive reminders to be scheduled automatically and you will not need to care to set them again and again. In case you missed some notifications or alarms, you can see all elapsed reminders and dismiss them or snooze them to be alarmed in near future again if needed. This can be useful if you can not begin to accomplish the alarmed task right now and you need to be notified about this task some time later. You can also create quick reminders for your brief little tasks that are too small and it is too heavy to create planned scheduled task for it in the calendar. The Advanced Calendar will help you to plan and schedule your tasks to efficiently achieve your goals. Notifications will keep you in track of all your tasks and alarms won’t let you miss your important tasks.</p>
</div>